*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

body{
    height: 100vh;
    background-image: url('./img/allianzarena-scaled.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-input{
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
    height: 450px;
    width: 500px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.52) 0%);
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 660;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(156, 156, 156, 0.30) 0%);
    color: white;
}

input::placeholder{
    color: white;
}

.pesquisar{
    display: flex;
    
}

button{
    width: 50px;
    border: 2px solid white;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(156, 156, 156, 0.30) 0%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
    color: white;
}

button:hover{
    transform: scale(1.03);
    opacity: 0.6;
}

.title{
    margin-top: 30px;
    font-size: 35px;
    color: white;
}

.graus{
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
}

.nuvem{
    color: white;
    font-size: 30px;
    font-weight: 550;
}

span{
    color: white;
    font-size: 55px;
    margin-top: 100px;
}

.humidade{
    color: white;
    font-size: 30px;
}

@media (max-width: 600px) {
    .caixa-input{
        width: 90%;
    }
  }